.CardInventory {
    justify-content: center;
    background-image: url('../../Assets/TextCard2.png');
    background-position-y: -3px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 340px;
    height: 542px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.CardInventory .Content {
    width: 255px;
    height: 250px;
}

.InventoryGrid {
    width: 255px;
    height: 200px;
    display: grid;
    grid-template-columns: 65px 65px 65px 65px;
    justify-items: center;
    align-items: center;
    justify-content: space-around;
}

.InventoryGrid .Item {
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 2px dotted #b74427;
    padding: 6px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    mix-blend-mode: unset;
}

.InventoryGrid .block {
    cursor: default;
    width: 60px;
    height: 60px;
    background-color: #8f8f8f29;
    border: inset;
    padding: 6px;
    border-radius: 5px;
    box-shadow: inset 2px 2px 2px 1px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    mix-blend-mode: multiply;
}

.InventoryGrid .blockContainer {
    width: 60px;
    height: 60px;
    border: 1px solid #ffffff96;
    border-left: none;
    border-radius: 7px;
    border-top: none;
}

.InventoryGrid .CountContainer {
    width: 51px;
    height: 51px;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    align-items: flex-end;
}

.InventoryGrid .CountContainer .CountNumber {
    width: 16px;
    height: 15px;
    color: #000000;
    font-family: monospace;
    background-color: #ffffffcc;
    border-radius: 4px;
}

.CardInventory .ButtonInventory {
    background-image: url('../../Assets/Invetnario2.png');
    background-repeat: no-repeat;
    background-color: unset;
    border: none;
    background-size: contain;
    width: 180px;
    height: 33px;
    color: #e5e4db;
    position: absolute;
    left: 80px;
    bottom: 145px;
    font-family: 'Young Serif';
}
