.CardHistory {
    background-image: url('../../Assets/TextCard6A.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 340px;
    height: 542px;
}

.CardHistory .Content {
    margin: 80px 35px;
}

.CardHistory .Content p {
    padding: 46px 21px 0;
    height: 235px;
    overflow: hidden;
}

.CardHistory .Content h2 {
    font-family: 'Young Serif', serif;
    color: #763e3e;
    text-align: center;
    position: relative;
    top: 26px;
    font-size: 21px;
}
