.CardHistory {
    background-image: url('../../Assets/TextCard6A.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 340px;
    height: 542px;
}

.CardHistory .Content {
    margin: 80px 35px;
}

.CardHistory .Content p {
    padding: 46px 21px 0;
    height: 235px;
    overflow: hidden;
    font-size: 16px;
}

.CardHistory .Content h2 {
    font-family: 'Young Serif', serif;
    color: #763e3e;
    text-align: center;
    position: relative;
    top: 26px;
    font-size: 21px;
}

.CardHistory .Parrot {
    background-image: url('../../Assets/parrot.png');
    background-size: cover;
    width: 40px;
    height: 40px;
    background-color: #ffeed8;
    border-radius: 20px;
    border: 1px solid #292929;
    position: absolute;
    bottom: 20px;
    left: 149px;
    box-shadow: 0px 2px 3px;
}

.CardHistory .ParrotHidden {
    visibility: hidden;
}
